[Desktop Entry]
Encoding=UTF-8
Name=Lien vers my-theme
Type=Link
URL=https://github.com/aslv11/works/tree/master/wordpress/themes/my-theme
Icon=text-html
